<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="baseurl" value="https://www.phptravels.net/" />
    <add key="username" value="dinesh.aryan999@gmail.com" />
    <add key="password" value="Dinesh@9294" />
  </appSettings>
</configuration>